html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Iceberg', 'Iceland', sans-serif;
    background: #CDF5FE;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.center_child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.buttons a {
    background: #016980;
    border-radius: 6px;
    margin: 3%;
    padding: 3%;
}

.debut_page {
    margin-top: 3em;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    width: 750px;
    max-width: 90%;
}

.titres {
    font-weight: bold;
    text-align: center;
}

h1 {
    color: #00045F;
    font-size: 2em;
}

h2 {
    color: #002C6F;
    font-size: 1.5em;
}

.elements {
    position: absolute;
    margin: 10% 0 0 0;
}

img {
    width: 100%;
    height: auto;
}

.water_over {
    width: 100%;
    padding: 0;
    margin: 10% 0 0 0;
}