html {
    margin: 0;
    padding: 0;
}

p {
    pointer-events: none;
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 4;
}

#overlay.show {
    display: block;
    background: rgba(0, 43, 56, 0.7);
    cursor: pointer;
}

.window {
    display: none;
}

.opened {
    display: block;
}

body {
    font-family: 'Iceberg', 'Iceland', sans-serif;
    background: #CDF5FE;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.center_child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: underline;
}

.buttons a p {
    vertical-align: middle;
    margin: auto;
    display: table-cell;
    height: 100%;
}

.buttons a {
    background: #016980;
    display: table;
    border-radius: 6px;
    margin: 3%;
    padding: 3%;
    transition: all 1s;
    text-align: center;
}

.buttons a:hover {
    margin: 2%;
    padding: 2%;
}

.debut_page {
    margin-top: 3em;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    width: 750px;
    max-width: 90%;
}

.titres {
    font-weight: bold;
    text-align: center;
}

h1 {
    color: #00045F;
    font-size: 2em;
}

h2 {
    color: #002C6F;
    font-size: 1.5em;
}

.iceberg_parent {
    position: absolute;
    margin: 10em 0 0 0;
    top: 0;
    left: 0;
    /* in the background */
    z-index: -1;
    width: 100%;
}

.water_before {
    position: absolute;
    margin-top: 31em;
    height: 1em;
    width: 100%;
    background: #66E3FFCC;
    z-index: -2;
    top: 0;
}

img.iceberg {
    min-width: 50%;
    width: auto;
    max-width: 95%;
    min-height: 120em;
    height: auto;
    max-height: 135em;
}

.water_after {
    position: absolute;
    margin-top: 30em;
    height: 1em;
    width: 100%;
    background: #66E3FFCC;
    top: 0;
}

.fishes {
    position: absolute;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    margin: 20em 0 0 0;
    z-index: 2;
}

.fishes .fish {
    height: 5em;
    margin-top: 25em;
    margin-bottom: 0;
    width: auto;
    cursor: pointer;
}

#fish1 {
    margin-left: 20%;
    margin-right: 75%;
}

#fish2 {
    margin-left: 75%;
    margin-right: 20%;
}

#fish3 {
    margin-left: 45%;
    margin-right: 50%;
}

#fish4 {
    margin-left: 10%;
    margin-right: 85%;
}

.water_over {
    position: absolute;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    margin: 30em 0 0 0;
    z-index: 3;
    pointer-events: none;
}

.water_over * {
    height: 30em;
    width: 100%;
    pointer-events: none;
}

.water1 {
    background: #0036BF66;
}

.water2 {
    background: #0036BFB2;
}

.water3 {
    background: #002584B2;
}

.water4 {
    background: #001959CC;
}
