body {
    height: 100vh;
}

#props {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100vw;
    min-height: 90vh;
}

.prop {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 45vh;
    min-width: 40vw;
    width: 50vw;
    height: 90vh;
    transition: all 0.3s;
}

.prop p {
    background: #016980;
    display: table;
    border-radius: 6px;
    margin: 3%;
    padding: 3%;
    text-align: center;
}

.prop:hover {
    width: 60vw;
}

.uptext {
    text-align: center;
    width: 80vw;
    margin-right: 10vw;
}

.uptext h1 {
    color: #FFFFFF;
    font-size: 2vw;
    max-font-size: 1.5vh;
    margin: 0.5vh;
    padding: 0;
}

.uptext h2 {
    color: #FFFFFF;
    font-size: 1.5vw;
    max-font-size: 1.5vh;
    margin: 0.5vh;
    padding: 0;
}

.passer {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.downmenu {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.downmenu .passer_but {
    background: #016980;
    display: table;
    border-radius: 6px;
    margin: 3%;
    padding: 3%;
    text-align: center;
    min-width: 20vw;
    transition: all 0.3s;
}

.downmenu .passer_but:hover {
    min-width: 40vw;
    margin: 2%;
    padding: 2%;
}

.passer_but p {
    vertical-align: middle;
    margin: auto;
    display: table-cell;
    height: 100%;
}

.upmenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #3D73C5;
    height: 10vh;
}

.icebergmini {
    height: 70px;
    width: auto;
    max-height: 8vh;
    margin: 1vh;
}
